@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,900&subset=chinese-traditional');

h1, h2, h3 {
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 0.8;
    margin: 12px 0 0 0;
}

h1, h2 {
    font-weight: 900;
}

h3.title {
    font-weight: bold;
    color: #384156;
    line-height: 1.2;
    margin: 0;
}

h3.subtitle {
    color: #f46197;
    line-height: 1.2;
}

h3.subtitle2 {
    color: black;
    line-height: 1.2;
}

.highlight {
    color: #f46197;
    font-weight: 400;
}

p {
   font-family: 'Noto Sans TC', Arial, "微軟正黑體", sans-serif;
   font-weight: 300;
   font-size: 18px;
}